<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Calendario de Adviento</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <div id="app">
        <div class="gallery" v-if="estado">
            <div class="card" v-for="promos in promosFiltradasSV"
                @mouseover="toggleDetails(promos.id, promos.startDate, promos.endDate, promos.coupon)"
                @mouseleave="hideDetails()"
                :class="['card', { 'card-clicked': clickedPromoId === promos.id && isPromoActive(promos.startDate, promos.endDate).isActive }, { 'card-expired': isPromoActive(promos.startDate, promos.endDate).hasEnded }]">
                <img :src="promos.coverImage" class="card-img-top" :alt="promos.title">
                <div v-if="isPromoActive(promos.startDate, promos.endDate) && clickedPromoId === promos.id"
                    class="details">
                    <section class="details-container">
                        <p class="details-container__title">{{promos.title}}</p>
                        <p class="details-container__text">{{promos.description}}</p>
                        <div v-if="promos.link">
                            <a :href="promos.link">
                              <img class="details-container__image" :src="promos.productImage" alt="Promotion image" srcset="">
                            </a>
                          </div>
                          <div v-else>
                            <img class="details-container__image" :src="promos.productImage" alt="Promotion image" srcset="">
                          </div>
                        <span class="details-container__coupon-tittle">Cupón</span>
                        <p class="details-container__coupon" @click="copyCoupon(promos.coupon)">
                            {{promos.coupon}} <img src="https://siman.vtexassets.com/assets/vtex.file-manager-graphql/images/0451b3b9-7494-4a04-b3a7-5058c86c72eb___8e2832fe2240fbb87c4576768e556537.svg" alt="Copy Icon"></p>
                        <p class="details-container__countdown"
                            v-if="getPromoCountdown(promos.startDate, promos.endDate)">
                            {{ getPromoCountdown(promos.startDate, promos.endDate) }}
                        </p>
                    </section>
                </div>
            </div>
        </div>
    </div>

    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="assets/js/finder.js"></script>
</body>

</html>
